.news_letter {
    /* padding: 100px 0; */
    background: #7178f559;
    overflow: hidden;
}

.news_letter form.newsletter-form {
    /* display: flex; */
    /* background: rgb(241, 105, 105); */
    /* width: 100%; */
    position: relative;
    /* overflow: hidden; */
}

.news_letter form.newsletter-form input {
    /* height: 60px; */
    padding: 20px 30px;
    background: rgb(229, 231, 235);
    border: none;
    outline: none;
    /* color: #fff; */
    width: 100%;
    border-radius: 50px;
}

.news_letter form.newsletter-form button {
    position: absolute;
    background: #000;
    /* height: 100%; */
    color: #fff;
    outline: none;
    border: 0;
    font-weight: 500;
    top: 0;
    right: 0;
    /* width: 80%; */
    height: 100%;
    border-radius: 150px 5px 5px 150px;
    cursor: pointer;
}

@media (max-width:602px) {
    .news_letter form.newsletter-form {
        display: block;
    }
    .news_letter form.newsletter-form button {
        top: 80px;
        left: 30%;
        padding: 0 20px;
        border-radius: 100px;
    }
}