.episodes {
    padding: 120px 0 70px;
    background: #f3f5fa;
}

.episodes .single_episode {
    position: relative;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    /* margin-bottom: 50px; */
    /* padding: 30px; */
    background: #fff;
    transition: 0.5s;
    margin-bottom: 10px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.episodes .single_episode .episode_img {
    /* border-radius: 5px; */
    /* height: auto; */
    overflow: hidden;
    position: relative;
}

.episodes .single_episode .episode_img img {
    width: 100%;
    transition: ease-in-out0.3s;
}

.episodes .single_episode .episode_img .episode_date {
    position: absolute;
    background: orange;
    top: 0;
    left: 0;
    padding: 20px 30px 21px;
    border-radius: 5px 0;
}

.episodes .single_episode .episode_img .episode_date span {
    color: #fff;
    font-weight: 500;
    font: size 24px;
    text-transform: uppercase;
    display: inline-block;
}

.episodes .single_episode .episode_text {
    padding: 30px 30px 10px 30px;
    /* margin: 30px 30px 40px 30px; */
}

.episodes .single_episode .episode_text h3 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}

.episodes .single_episode .episode_text span.date {
    font-style: italic;
    font-size: 14px;
    color: #bbb;
}

.episodes .single_episode .episode_text p:not(.last_line) {
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
}

.episodes .single_episode .episode_text p:not(.last_line)::after {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}


/* .episodes .single_episode .episode_text .last_line {
    font-size: 14px;
    margin: 2px;
    display: block;
    font-style: italic;
} */

.features {
    padding: 0;
    position: relative;
    margin-bottom: 10px;
    font-size: 13px;
}

.features p {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: -12px;
}

.features b {
    font-style: italic;
    /* margin-top: -23px; */
}

.episodes .single_episode .episode_text .hostings {
    font-size: 14px;
}

.episodes .single_episode .episode_text .social {
    display: flex;
}

.episodes .single_episode .episode_text .social a {
    transition: ease-in-out0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #eff2f8;
    margin-right: 5px;
}

.episodes .single_episode .episode_text .social a i {
    color: #37517e;
    font: size 16px;
    margin: 0 2px;
}

.episodes .single_episode .episode_text .read_more {
    position: relative;
    /* background: red; */
}

.episodes .single_episode .episode_text .read_more button {
    background: #37517e;
    /* width: 100%; */
    position: absolute;
    margin: 15px auto;
    padding: 8px 20px;
    /* padding: 0; */
    right: 0px;
    border: 0;
    border-radius: 5px;
}