/* hero */

.hero {
    /* background: url('/public/assets/images/banner.jpg'); */
    background-size: cover;
    background-attachment: fixed !important;
    position: relative;
    z-index: 2;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f7973db7;
    opacity: 0.38;
    z-index: -1;
}

.hero .hero_content {
    /* display: inline-block; */
    text-align: center;
    padding: 250px 0 200px;
}

.hero .hero_content h1 {
    font-size: 80px;
    color: #fff;
    /* background-image: linear-gradient(to right, #f4627c, #b439a8); */
    margin-bottom: 23px;
}

.hero .hero_content h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.hero .hero_bottom {
    position: relative;
    text-align: center;
    width: 65%;
    margin: 50px auto;
    padding: 20px 30px 20px 30px;
    background: #fff;
    border-radius: 10px;
    color: #e58e26;
    /* box-shadow: 6px 12px 0 8px #e55039; */
}


/* .hero .hero_bottom::after {
    content: '';
    position: absolute;
    right: 0;
    top: 20px;
    bottom: 0;
    width: 160px;
    height: 160px;
    background: red;
    opacity: .3;
    z-index: -1;
} */

.hero .hero_bottom h4 {
    margin-bottom: 36px;
}

.hero .hero_bottom .channels .items {
    /* border: 1px solid #1e2f38; */
    border-radius: 50%;
    height: 63px;
    width: 63px;
    padding: 12px;
    background-size: contain;
}