.contact {
    background: #f7f7f7;
}

.contact form {
    margin-top: -18px;
    /* border: 2px solid #f7f7f7; */
    padding: 50px 30px 0 30px;
    background: #4e54c87a;
    border-radius: 30px;
}

.contact form input {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    color: #fff;
    opacity: .85;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
}

.contact form .input-area {
    position: relative;
}

.contact form input::placeholder,
.contact form textarea::placeholder {
    color: #bbb;
}

.contact form span {
    display: block;
    position: absolute;
    content: '';
    left: 15px;
    bottom: 5px;
    /* right: 15px; */
    /* height: 30px; */
    color: #ff6875;
    /* opacity: .15; */
    border-radius: 5px;
}

.contact form textarea {
    width: 100%;
    height: 150px;
    /* background: none; */
    border: none;
    padding: 15px 30px;
    /* color: #fff; */
    opacity: .85;
    border-radius: 5px;
    resize: none;
}

.contact form span.textarea {
    /* height: 200px; */
    bottom: -18px;
}

.contact form button {
    /* height: 60px; */
    width: 25%;
    color: #fff;
    padding: 15px 0;
    background: #ff6875;
    font-weight: 500;
    border: none;
    border-radius: 25px;
    /* position: relative;
    bottom: -40px; */
    margin: 20px auto;
    outline: none;
}