header {
    position: absolute;
    left: 0;
    top: 0;
    padding: 25px 5px;
    width: 100%;
    border-bottom: 1px solid rgba(225, 225, 225, 0.2);
    z-index: 55;
}

.navbar {
    padding: 0;
}

header .col:first-child {
    /* background: red; */
    width: 100%;
    /* text-align: center; */
}

.nav-channels li {
    transition: ease-in-out0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    background: #eff2f8;
    margin-right: 5px;
}

.nav-channels li:last-child {
    margin-right: 0;
}

.nav-channels a i {
    color: #37517e;
    font: size 16px;
    margin: 0 2px;
}


/* .nav-channels {
width: 100%;
}

.nav-channels li {
text-align: center !important;
} */

header .col:nth-child(2) {
    /* background: red; */
    text-align: center;
}

header .logo {
    margin: 0;
    padding: 0;
}

header .logo img {
    max-height: 75px;
}

header .navbar ul,
header ul.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

header .nav a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
}


/*
header .navbar i {
font-size: 12px;
line-height: 0;
} */


/* Mobile Navigation */

header .navbar.navbar-mobile {
    background: greenyellow;
    transition: 0.3s;
    z-index: 999;
}

.mobile-nav-toggle {
    font-size: 40px !important;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
    position: absolute;
    right: 0;
    top: 25%;
}

header .navbar.navbar-mobile ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: block; */
    top: 5px;
    right: 0px;
    width: 150px;
    /* bottom: 15px; */
    /* left: 0px; */
    padding: 10px 0;
    border-radius: 10px;
    background-color: #fff;
}

header .navbar.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #37517e;
}

@media (max-width:991px) {
    header {
        width: 100%;
    }
    .mobile-nav-toggle {
        display: block;
    }
    header .navbar {
        width: 100%;
        /* background: red; */
    }
    header .navbar ul {
        display: none;
    }
}

@media (max-width:768px) {
    header .col:nth-child(2) {
        /* background: red; */
        text-align: left;
    }
}