footer {
    /* background: #020c16; */
    font-size: 14px;
    background: #fff;
    width: 100%;
    margin: 0 auto;
    border-radius: 30px 30px 0 0;
    padding: 60px 0 30px 0;
    color: #37517e;
}

footer p {
    line-height: 23px;
    margin: bottom 0;
    color: #5e5e5e;
}

footer h4 {
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
}

footer .copyright {
    margin-top: 20px;
}

footer .copyright h5 {
    padding-top: 10px;
    font-size: 30px;
    font-weight: bold;
}

footer .footer_links {
    margin-bottom: 30px;
}

footer .footer_links ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width:989px) {
    footer .footer_links ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

footer .footer_links ul i {
    padding-right: 2px;
    color: #47b2e4;
    font-size: 18px;
    line-height: 1;
}

footer .footer_links ul li {
    padding: 10px 0;
}

footer .footer_links ul li:first-child {
    padding-top: 0;
}

footer .footer_links ul a {
    color: #777;
    transition: .3s;
    display: inline-block;
    line-height: 1;
}

footer .footer_links ul a:hover {
    color: #47b2e4;
}

footer .social_links a {
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}