body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
    color: #3d5169;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #101830;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a i {
    padding: 0 2px;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* General Input Styles */

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #ddd;
}


/* Alignments */

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin: 0 auto 1.75em;
}


/* Section Titles */

section {
    padding: 120px 0px;
    position: relative;
}

.section-title {
    margin-bottom: 38px;
    margin-top: -19px;
}

.section-title h2 {
    font-size: 52px;
    color: #444444;
    margin: bottom 7px;
}